<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ink Touch - Large Format Printing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="../../img/ink.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/viewBtn.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <%- include (`../partials/adminHeader`); -%>

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include (`../partials/adminNav`); -%>
        <!-- Navbar End -->

        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">Total User Request</p>
                  <h6 class="mb-0"><%= requestProducts %></h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">Total User Wastage</p>
                  <h6 class="mb-0"><%= wastage %></h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">Total Accept Request</p>
                  <h6 class="mb-0"><%= totalRequestProducts %></h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">Total Approved Wastage</p>
                  <h6 class="mb-0"><%= totalWastage %></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sale & Revenue End -->

        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <h6 class="mb-0">Request Chart</h6>
                </div>
                <canvas id="worldwide-sales"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <h6 class="mb-0">Wastage Chart</h6>
                </div>
                <canvas id="salse-revenue"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- Sales Chart End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">All Request</h6>
              <a href="/admin/request-product">Show All</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Invoice</th>
                    <th scope="col">Category</th>
                    <th scope="col">Size</th>

                    <th scope="col">Quantity</th>
                    <th scope="col">narration</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (allProducts.length > 0) { %> <%
                  allProducts.forEach(products => { %>
                  <tr class="center">
                    <td>
                      <%= new Date(products.createdAt).toLocaleString('en-NG', {
                      timeZone: 'Africa/Lagos' }).replace(',', '') %>
                    </td>

                    <td><%= products.ref %></td>
                    <td><%= products.category %></td>
                    <td><%= products.size %></td>

                    <td><%= products.quantity_requested %></td>
                    <td><%= products.narration%></td>
                    <td>
                      <button
                        type="button"
                        class="btn <%= products.request_status === 'Accept' ? 'btn-success' : products.request_status === 'Declined' ? 'btn-danger' : products.request_status === 'Pending' ? 'btn-primary' : 'btn-secondary' %>"
                      >
                        <%= (products.request_status ||
                        'Pending').charAt(0).toUpperCase() +
                        (products.request_status || 'Pending').slice(1) %>
                      </button>
                    </td>
                  </tr>
                  <% }); %> <% } else { %>
                  <tr>
                    <td colspan="9" class="text-center">No Request found.</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div class="pagination">
                <% for (let i=1; i <=totalPages; i++) { %>
                <a
                  href="/admin/index?page=<%= i %>"
                  class="<%= currentPage === i ? 'active' : '' %>"
                >
                  <%= i %>
                </a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- Recent Sales End -->

        <!-- Footer Start -->
        <%- include (`../partials/adminFooter`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
    <script src="../mail/uploadImage.js"></script>
  </body>
</html>
