<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ink Touch - Large Format Printing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="../../img/ink.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/viewBtn.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <%- include (`../partials/adminHeader`); -%>

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include (`../partials/adminNav`); -%>
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">All Request</h6>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark" style="text-align: center;">
                    <th scope="col">Date</th>
                    <th scope="col">Ref</th>
                    <th scope="col">User</th>
                    <th scope="col">Category</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">narration</th>
                    <th scope="col">Status</th>
   
                  </tr>
                </thead>
                <tbody>
                  <% if (allRequest.length === 0) { %>
                    <tr>
                      <td colspan="8" class="text-center">No requests found</td>
                    </tr>
                  <% } else { %>
                    <% allRequest.forEach(request => { %>
                      <tr>
                        <td>
                          <%= new Date(request.createdAt).toLocaleString('en-NG', {
                          timeZone: 'Africa/Lagos' }).replace(',', '') %>
                        </td>
                        <td><%= request.ref %></td>
                        <td><%= request.operator %></td>
                        <td><%= request.category %></td>
                        <td><%= request.size %></td>
                        <td><%= request.quantity_requested %></td>
                        <td><%= request.narration %></td>
                        <td>
                          <select class="form-select account-status-select" data-request-id="<%= request._id %>">
                            <option value="Pending" <%= request.request_status === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="Accepted" <%= request.request_status === 'Accepted' ? 'selected' : '' %>>Accepted</option>
                            <option value="Declined" <%= request.request_status === 'Declined' ? 'selected' : '' %>>Declined</option>
                          </select>
                        </td>
                      </tr>
                    <% }) %>
                  <% } %>
                </tbody>
                
              </table>
              <div class="pagination">
                <% for (let i=1; i <=totalPages; i++) { %>
                <a
                  href="/admin/request?page=<%= i %>"
                  class="<%= currentPage === i ? 'active' : '' %>"
                >
                  <%= i %>
                </a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- Recent Sales End -->

        <!-- Footer Start -->
        <%- include (`../partials/adminFooter`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
    <script src="../../mail/request-status.js"></script>
  </body>
</html>
