<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ink Touch - Large Format Printing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="../../img/ink.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/form.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <%- include (`../partials/header`); -%>

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include (`../partials/nav`); -%>
        <!-- Navbar End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <!-- start -->

            <div class="row">
              <div class="col-md-5 border-right" style="width: 100% !important">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div
                    id="generalError"
                    class="alert alert-danger"
                    style="display: none"
                  ></div>
                  <h4 class="text-right">Profile Settings</h4>
                </div>
                <form
                  id="updateProfileForm"
                  data-url="/user/profile"
                  method="post"
                >
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="labels">Full Name</label
                      ><input
                        type="text"
                        class="form-control"
                        name="name"
                        value="<%= user.name %>"
                      />
                      <div id="nameError" class="text-danger"></div>
                    </div>
                    <div class="col-md-6">
                      <label class="labels">Email</label
                      ><input
                        type="email"
                        class="form-control"
                        name="email"
                        value="<%= user.email %>"
                      />
                      <div id="emailError" class="text-danger"></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="labels">Phone</label
                      ><input
                        type="text"
                        class="form-control"
                        name="phone_number"
                        value="<%= user.phone_number %>"
                      />
                      <div id="phone_numberError" class="text-danger"></div>
                    </div>

                    <div class="col-md-6">
                      <label class="labels">Address</label
                      ><input
                        type="text"
                        class="form-control"
                        value="<%= user.address %>"
                        name="address"
                      />
                      <div id="addressError" class="text-danger"></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="labels">City</label
                      ><input
                        type="text"
                        class="form-control"
                        name="city"
                        value="<%= user.city %>"
                      />
                      <div id="cityError" class="text-danger"></div>
                    </div>

                    <div class="col-md-6">
                      <label class="labels">State</label
                      ><input
                        type="text"
                        class="form-control"
                        value="<%= user.state %>"
                        name="state"
                      />
                      <div id="stateError" class="text-danger"></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="labels">Current Password</label
                      ><input
                        type="password"
                        class="form-control"
                        name="current_password"
                        placeholder="Enter current password"
                      />
                      <div id="current_passwordError" class="text-danger"></div>
                    </div>

                    <div class="col-md-6">
                      <label class="labels">New Password</label
                      ><input
                        type="password"
                        class="form-control"
                        name="new_password"
                        placeholder="Enter new password"
                      />
                      <div id="new_passwordError" class="text-danger"></div>
                    </div>
                  </div>

                  <div class="mt-5 text-center">
                    <button
                      id="subProfile"
                      class="btn btn-primary"
                      type="submit"
                    >
                      Update Profile
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- end -->
          </div>
        </div>
        <!-- Recent Sales End -->

        <!-- Footer Start -->
        <%- include (`../partials/footer`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <script src="../../mail/update-profile.js"></script>
  </body>
</html>
